.container-form {
    color: white;
    background: #262a41;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid white;
}

.creationform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.creationform input{
    width: 70%;
    margin: 10px 0 10px 10px;
    padding: 10px;
    outline: 1px solid white;
    border: none;
    border-radius: 5px;
}
.creationform p{
    text-align: left;
    width: 70%;
    margin: 5px
}
.CAbutton{
    padding: 10px;
    background-color: #fdfdfd;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}
.CAbutton:hover{
    background: #262a41;
    color: #fdfdfd;
    border: 1px solid white;
    
}
@media screen and (max-width:744px)
{
        .container-form{
            width: 90%;
        }
}